*{
  padding:0px;
  margin:0px;
}
.seat{
  float:left;
  width: calc(14.2% - 9.5px);
  margin:4px;
  background-color: white;
  border:1px solid black;
  padding:6px 0px;
  text-align:center;
}
.seat-booked{
  background-color: darkblue;
  color:white;
}
.seat-available{
  background-color: white;
  color:black;
}
.seat-unavailable{
  background-color: rgb(195, 195, 195);
  color:black;
}
.seat-for-booking{
  background-color: rgba(224, 255, 19, 0.979);
  font-weight: bold;
}
.seat-greyed{
  background-color: #eee;
  color:#444;
}
.submit-btn{
  background-color:#5DA85E;
  color:white;
  text-align:center;
  padding:4px 0px;
  margin-top:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  cursor: pointer;
  font-weight: bold;
}
.submit-btn:hover{
background-color: #4B874C;
}