*{
  padding:0px;
  margin:0px;
}
.seat{
  float:left;
  width: calc(14.2% - 9.5px);
  margin:4px;
  background-color: white;
  border:1px solid black;
  padding:6px 0px;
  text-align:center;
}
.seat-booked{
  background-color: darkblue;
  color:white;
}
.seat-available{
  background-color: white;
  color:black;
}
.seat-unavailable{
  background-color: rgb(195, 195, 195);
  color:black;
}
.seat-for-booking{
  background-color: gold;
}